#mapId {
    height: 50vh;
    width: 100%;
    border-radius: 2px 2px;
}

.dashboard {
    height: 50vh;
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border: 0;
    background-color: #00171F;
    color: white;
    transition: background-color 0.25s;
}

.btn:active {
    background-color: #404040;
}

.search-bar {
    margin-top: 10px;
}

.search-btn {
    position: fixed;
    bottom: 30%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px 2px 2px 2px;
}

.return-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 44%;
    left: 5%;
    z-index: 100000;
}

.location-group {
    height: 25px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.location-text {
    width: 85%;
    margin: 0;
}

.search-results {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media all and (min-width: 600px) {
    .search-results {
        width: 50%;
    }
}

.go-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 42%;
    right: 5%;
    z-index: 100000;
    font-size: 1.5em;
    font-weight: bold;
}

.followed-path {
    width: 100%;
    margin-top: 5px;
}

@media all and (min-width: 600px) {
    .followed-path {
        width: 50%;
    }
}

::ng-deep .leaflet-control-zoom, ::ng-deep .leaflet-control-attribution {
    display: none;
}